Question 1

i)
var = "riya"

ii)
l = [2,3,5,8, "riya", 24.5, True]

iii)
num = 45.6

iv)
tup = ("maths", "science", "hindi", "english")

Question 2

i) string
ii) string
iii) list
iv) integer

Question 3

i) / - division arithmetic operator, used for division operation
   2/4 = 0.5

ii) % - modulus arithmetic operator, used to give the remainder
    4%5 = 1

iii) // - division floor operator

iv) ** - power to operator, gives the power of any number
    2**3 = 8

In [2]:
#Question 4
lst = [2, 3, True, 24.5, 67, "RIYA", False, 43, "YH", 65.6]
for i in lst :
    print(i)
    print(type(i))

2
<class 'int'>
3
<class 'int'>
True
<class 'bool'>
24.5
<class 'float'>
67
<class 'int'>
RIYA
<class 'str'>
False
<class 'bool'>
43
<class 'int'>
YH
<class 'str'>
65.6
<class 'float'>

In [4]:
#Question 5
A = 27
B = 3

count = 0

while A%B==0:
  A = A//B
  count += 1

if count > 0:
  print(f"A is divisble by B and can be divided {count} times")
else :
  print("A is not divisible by B")

A is divisble by B and can be divided 3 times

In [9]:
#Question 6
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in lst:
  if i%3==0:
    print(i)
  else:
    continue

3
6
9
12
15
18
21
24

Question 7

lst = [2,3,4,5,6,7, 34.5, "riya", True]
list is a mutable while string is a immutable data type.
str = "riya"
We cannot access and change the data of string with the help of indexing. Mutable data types can be accessed through indexing and changed. Mutable and Immutable data types are only considered when changing the data with the help of strings.
In list we can access the data with the indexing and change it accordingly.