In [2]:
#Question 1

lst = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sortlst = sorted(lst, key = lambda x: x[0])
sortlst

[('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357),
 ('Virat Kohli', 24936)]

In [4]:
#Question 2

lis = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda x : x**2, lis))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
#Question 3

lis = [1,2,3,4,5,6,7,8,9,10]

tuple(map(lambda x : str(x), lis))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [13]:
#Question 4

lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
from functools import reduce
reduce(lambda x,y : x*y, lst)

15511210043330985984000000

In [15]:
#Question 5

lst = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x : x % 2 == 0 and x % 3 == 0, lst) )

[6, 60, 90, 120]

In [17]:
#Question 6

lis = ['python', 'php', 'aba', 'radar', 'level']
palindrome = list(filter(lambda string : string == string[::-1], lis))
print(palindrome)

['php', 'aba', 'radar', 'level']